.wrapper {
  width: 350px;
  margin: 0 auto;
}

.wrapper header {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: center;
}
header .current-date {
  font-family: 'BlackMango-Medium.otf';
  font-size: 24px;
  font-weight: 700;
}
.calendar {
  padding: 20px;
  border: 2px solid #992e3d;
}

.calendar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendar li {
  color: #222222;
  width: calc(100% / 7);
  font-size: 14px;
  user-select: none;
}

.calendar .weeks li {
  font-weight: 700;
  cursor: default;
}

.calendar .days li {
  z-index: 1;
  position: relative;
  margin-top: 30px;
}
.calendar .days li:nth-child(7n):not(.inactive) {
  font-weight: 700;
}

.days li.inactive {
  color: #aaa;
}

.days li::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.days li.active::before {
  top: 52%;
  background: center center / cover no-repeat content-box border-box url(../images/head.png);
  animation: flash 5s infinite;
}